body {
  background-color: rgb(255, 250, 250);
}

hr {
  margin: 60px 0;
  background-color: rgba(240, 100, 100, 0.5);
}

@media (max-width: 800px) {
  hr {
    margin: 15px 0;
  }
}

.pronouns {
  border: solid 2px #f5dde1;
  color: #ad465a;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.avatar {
  background-color: white;
  width: 120px;
  height: 120px;
  padding: 0;
  margin: 0;
  border-radius: 60px;
  border: solid 3px rgba(0,0,0,0.2);
  overflow: visible;
  text-align: center;
  position: relative;
  top: -20px;
  right: 10px;
}

.avatar-container {
  float: right;
  width: 110px;
  overflow: visible;
}

.avatar img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -5px;
}

@media (min-width: 1070px) {
  .avatar {
    right: -20px;
  }
  #br-before-i {
    display: block;
  }
}

@media (max-width: 1069px) {
  #br-before-i {
    display: none;
  }
}

img.icon {
  height: 1em;
  opacity: 0.88;
}

img.icon.icon-microsoft {
  position: relative;
  bottom: -1.5pt;
}

.learn-about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.learn-about-row > a {
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 15px 25px;
  border-bottom: none;
  transition: color 200ms;
}

.learn-about-row > a > img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  display: block;
  margin-bottom: 15px;
}

.learn-about-row > a:hover {
  color: rgb(56, 122, 197);
}

@media screen and (max-width: 800px) {
  .learn-about-row {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .learn-about-row > a,
  .learn-about-row > a:first-child {
    margin: 5px auto;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 800px) {
  .contacts {
    justify-content: flex-start;
  }
}

.contact-btn {
  border-radius: 8px;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  align-items: stretch;
  color: white;
  transition: filter 200ms;
  filter: none
}

.contact-btn:hover {
  filter: contrast(1.2);
}

.contact-btn > .contact-icon-c {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.contact-btn > .contact-icon-c > img {
  width: 28px;
  height: 28px;
}

.contact-btn > .contact-content {
  padding: 0 8px 2px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-btn.email {
  background-color: #ea4335;
}

.contact-btn.email .contact-icon-c {
  background-color: #c5221f;
}

.contact-btn.discord {
  background-color: #5865f2;
}

.contact-btn.discord .contact-icon-c {
  background-color: #4953c7;
}

.contact-btn.discord .contact-icon-c > img {
  width: 24px;
  height: 24px;
}

.contact-btn.mastodon {
  background-color: #563acc;
}

.contact-btn.mastodon .contact-icon-c {
  background-color: #2f0c7a;
}

.contact-btn.mastodon .contact-icon-c > img {
  width: 21px;
  height: 21px;
}

.contact-btn.telegram {
  background-color: #229ed9;
}

.contact-btn.telegram .contact-icon-c {
  background-color: #2aabee;
}

.contact-btn.telegram .contact-icon-c > img {
  width: 22px;
  height: 22px;
}

.contact-btn.linkedin {
  background-color: #0f79e4;
}

.contact-btn.linkedin .contact-icon-c {
  background-color: #0a66c2;
}

.contact-btn.linkedin .contact-icon-c > img {
  margin-left: 2px;
}

.ai-me {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.contact-btn.ai {
  background-color: #A200E1;
}

.contact-btn.ai .contact-icon-c {
  background-color: #8A00CD;
}

.ai-me > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fading {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blog-posts {
  columns: 2;
  column-gap: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 1000px) {
  .blog-posts {
    columns: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.blog-posts .loading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0,0,0,0.5);
  font-style: italic;
  animation: fading 1s infinite alternate linear;
}

.blog-posts .error {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 57, 57);
  font-style: italic;
}

.blog-posts .post {
  margin: 0 0 30px 0;
  color: #222;
  text-decoration-line: none;
  border: none;
  background-color: white;
  padding: 0;
  box-shadow: rgba(0,0,0,0.5) 0 2px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  max-width: 480px;
  transition: transform 200ms, box-shadow 200ms;
}

.blog-posts .post .cover {
  width: 100%;
}

.blog-posts .post .title {
  margin: 12px 12px 4px 12px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.blog-posts .post .snippet {
  margin: 4px 10px 10px 10px;
  padding: 0;
  font-size: 16px;
  text-align: justify;
}

.blog-posts .post:hover {
  transform: scale(1.04);
  box-shadow: rgba(0,0,0,0.3) 0 6px 5px;
}

.blog-posts-more {
  width: 100%;
  padding: 10px;
  text-align: center;
}
