@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  background-color: rgb(243, 243, 243);
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(31, 31, 31);
  line-height: 1.5;

  max-width: 1000px;
  margin: 50px auto;
  padding: 0 10px;
}

.thin, h1, h2 {
  font-weight: 300;
}

h1, h2 {
  margin: 15px 0;
}

a {
  color: rgb(33, 67, 105);
  text-decoration: none;
  border-bottom: solid 1px rgb(33, 67, 105);
  transition: border-bottom-color 200ms;
}

a:hover {
  border-bottom-color: rgb(73, 151, 240);
}

span.nolinebreak {
  white-space: nowrap;
}

hr {
  border: none;
  display: block;
  height: 2px;
  background-color: rgba(100, 100, 100, 0.5);
  margin: 15px 0;
}
